<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="vieport" content="width=device-width, height=device-height,
    initial-scale=1">
	<link rel="stylesheet" href="/css/semantic.min.css">
	<link rel="stylesheet" href="/css/login_success.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script type="text/javascript" src="/js/semantic.min.js"></script>
	<title>로그인 성공 페이지</title>
</head>

<body>

	<ul>
		<%
			for (var i=0; i<results.length; i++)
			{
				var id = results[i]._doc.id;
				var name = results[i]._doc.name;
		%>
				<li>#<%=i%> - 아이디 : <%=i%>, 이름 : <%=name%></li>
		<%
			}
		%>
	</ul>

</body>

</html>